<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/global.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <!-- importere Arkipelago font -->
    <link href="//db.onlinewebfonts.com/c/585aca447e18ea0bb384f45516a494b2?family=Arkipelago" rel="stylesheet" type="text/css"/>
    <!-- importere Winthorpe font -->
    <link href="//db.onlinewebfonts.com/c/8671d94ef7785b41eb61c8eec3eab16a?family=Winthorpe" rel="stylesheet" type="text/css"/>
    <!-- importere Alesand font -->
    <link href="//db.onlinewebfonts.com/c/5923cf3c9878fc4a09ac5feb0de667c8?family=Alesand" rel="stylesheet" type="text/css"/>
    <!-- importere Stencil regular font -->
    <link href="//db.onlinewebfonts.com/c/1b296893fb2cb23df3c066218b37d45b?family=StencilEF" rel="stylesheet" type="text/css"/>
</head>