
<header th:fragment="header">
    <div class="menu-wrapper">
        <div class="logo">

        </div>
        <nav>
            <ul class="menu">
                <li><a th:href="@{/home}">home</a></li>
                <li><a th:href="@{/borger}">company</a></li>
                <li><a th:href="@{/for-business}">business</a></li>
                <li><a th:href="@{/borger}">borger</a></li>
                <li><a th:href="@{/org}">org</a></li>
            </ul>

        </nav>
    </div>
</header>