/* css for Borger siden (formerly /private siden) */


/* TODO: gennem tjek den mergede css fra main */

/**

Main merge del - start (skal tjekkes igennem)

 */

.splash{
    background-color: linear-gradient(45deg, var(--magic-mint), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
/* Splash i /private tab */
.splash-private{
    background-color: linear-gradient(45deg, var(--magic-mint), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: -1;
    position: absolute;
}


/* testing font connection */
#test{
    font-family: "Arkipelago";
    font-size: 10em;
    color: lightgrey;
    position: absolute;
    z-index: -3;

}

/* private side*/
.info-for-private-customer{
    display: flex;
    justify-content: center;
    height: 100px;
    flex-direction: column;
    width: 100%;
}

.private-title{
    margin-top: auto;
    text-align: center;
    font-family: "Arkipelago";
    font-size: 2em;
}
.usefull-links{
    height: 300px;
    width: 70%;
    margin: auto;
}
.link-row{
    justify-content: space-evenly;
    display: flex;
    height: 150px;
    width: 100%;
}

.uf-link{
    align-items: center;
    justify-content: center;
    background-color: green;
    margin: 10px;
    display: flex;
    height: 70px;
    width: 500px;
    text-align: center;
    font-family: "Arkipelago";
    font-size: 2em;
    color: white;
    padding: 10px;
    border-radius: 12px;
}
.download-app{
    font-family: "Arkipelago";
    font-size: 2em;
    color: black;
    display: flex;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
/background-color: green;
    width: 40%;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.app-pic{

    background: url("../img/McGreen.jpg") no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}
/* Sign up */

.signup-container p {
    font-family: Arkipelago;
    font-size:2em;
    color: black;
    margin: auto;
}

.fill-out-form-for-private{
    height: 500px;
    width: 1000px;
    margin: auto;
}

input[type=email], input[type=text], input[type=tel] {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin: auto;
    display: inline-block;
    border: none;
    background: green;
    color: white;
    font-family: Arkipelago
}

.signup-container b {
    font-family: Arkipelago;
}

.signup-container input::placeholder{
  color: white;
}

.signup-form{
    margin: auto;
}

.signup-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 100px;
    background-color: white;

}

hr {
    border: 1px solid;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: green;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    padding: 10px;
    border-radius: 12px;
}

.registerbtn:hover {
    opacity:1;
}




/**

Main merge del - slut (skal tjekkes igennem)

 */
