/* css for Borger siden (formerly /private siden) */


/* TODO: gennem tjek den mergede css fra main */

/**

Main merge del - start (skal tjekkes igennem)

 */

.splash{
    background-color: linear-gradient(45deg, var(--magic-mint), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
/* Splash i /private tab */

.borger-info {
    display: flex;
    height: 70vh;
    width: 100%;
    background: rgba(0,130,0,0.5);
    flex-direction: column;
}

.borger-info-text{
    height: 300px;
    width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.borger-info-text h1{
    font-size: 2.1em;
    font-family: "Alesand";
}

.borger-info-text p{
    font-family: "Alesand";
    font-size: 1.2em;

}


/* private side*/
.info-for-private-customer{
    display: flex;
    justify-content: center;
    height: 100px;
    flex-direction: column;
    width: 100%;
}

.private-title{
    margin: auto 0;
    text-align: center;
    font-family: "Alesand";
    font-size: 3em;;
}
.usefull-links{
    height: 70vh;
    width: 100%;
    margin: auto;
    background: rgba(150,150,100,0.3);
}

.usefull-links-container{
    height: inherit;
    width: 800px;
    background: rgba(10,150,10,0.1);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.usefull-links-top{
    display: flex;
    justify-content: left;
    height: 20%;
    width: 100%;
    background: aliceblue;
    flex-direction: column;
}

.usefull-links-top p{
    font-family: "Alesand";
}

.usefull-links-bottom{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;

}

.link-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-container a{
    color: black;
}

.link-container a:hover{
    text-decoration-color: black;
}

.usefull-links-arrow{
    position: relative;
    height: 50px;
    width: 50px;
    background: white;
    display: flex;
}

.arrow-line-1{
    width: 29px;
    height: 2.5px;
    background: black;
    position: absolute;
    top: 49%;
}

.arrow-line-2{
    width: 15px;
    height: 2px;
    background: black;
    position: absolute;
    top: 42%;
    left: 39%;
    transform: rotate(30deg);
    border-radius: 0 0 10px 0;
}

.arrow-line-3{
    width: 15px;
    height: 2px;
    background: black;
    position: absolute;
    top: 55%;
    left: 39%;
    transform: rotate(-30deg);
    border-radius: 0 10px;
}

.links-column{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 30%;
    justify-content: space-evenly;
}

.links-column a{
    text-align: left;
}

.usefull-links-globe-image{
    height: 100%;
    width: 70%;
    background: yellow;
    opacity: 50%;
    display: flex;
}

.globe-image{
    background: url("../img/globe.webp");
    background-size: contain;
    height: 300px;
    width: 300px;
    margin: auto;
}

/*
.link-row{
    justify-content: space-evenly;
    display: flex;
    height: 150px;
    width: 100%;
}

.uf-link{
    display: flex;
    jus
}
*/

.app{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,150,0,0.5);
    width: 100%;
    height: 100vh;
}

.app-container h1{
    font-family: "StencilEF";
    font-size: 3.5em;
    text-align: center;
}

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 60%;
    margin: auto;
    background: rgba(100,10,10,0.1);
}

.download-button-app{
    display: flex;
    height: 100px;
    width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background: var(--amazon);
    border-style: none;
}

.download-app-button-link{
    background-size: contain;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: "Alesand";
    font-size: 2.5em;
    display: contents;
}
/* Sign up */

.signup-container p{
    font-family: "Alesand";
    font-size:2em;
    color: black;
    margin: auto;
}

.fill-out-form-for-private{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}


.signup-form{
    height: 100%;
    width: inherit;
    justify-content: center;
    margin: auto;
}

.signup-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 700px;
    background-color: rgba(50,150,0,0.5);


}

.signup-container p:nth-child(1){
    margin-top: auto;
    height: 20%;
}

.signup-container p:nth-child(2){
    color: black;
    margin: auto;
    height: 50%;
    font-size: 3.7em;
    font-family: "StencilEF";
}

.sign-up-borger-call-out{
    height: 45%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin-top: auto;
}

.sign-up-borger-input-holder{
    display: flex;
    width: 350px;
    height: 60px;
    background: aliceblue;
    border-radius: 20px;
    border-style: hidden;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 1em lightgrey;
    margin-bottom: auto;
}

.sign-up-borger-input-holder input{
    margin: auto;
    width: 90%;
    height: 50%;
    border-style: none;
    border-bottom: 0.19em black solid;
    font-size: 1.1em;
}

.sign-up-borger-email{
    display: flex;
    height: 35%;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.borger-form-container{
    height: 100%;
    width: 100%;
    background: rgba;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    align-items: center;
}

.sign-borger-form-input{
    display: flex;
    height: 50px;
    width: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 5px;
}

.sign-borger-form-input label{
    visibility: hidden;
    height: 0;
}

.sign-borger-form-input input[type=submit]{
    border-style: none;
    width: 100px;
    margin: auto;
    height: 70px;
    border-radius: 5px;
    font-size: 1.2em;
    background: var(--amazon);
    color: white;
}


/**

Main merge del - slut (skal tjekkes igennem)

 */
