
/* business side */
.business-partners{
    display: flex;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    width: 100%;
}

.customer-type-section{
    display: flex;
    flex-direction: column;
    background-color: var(--amazon);
    height: fit-content;
    width: 100%;
}

.customer-options-wrapper{
    display: flex;
}

.customer-box{
    display: flex;
    flex-direction: column;
}

.customer-title{
    text-align: center;
}

.info-for-business-customer{
    height: 60vh;
    width: 100%;
    background: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.business-reasons-to-join{
    margin: 0 auto auto;
    width: 750px;
    height: 300px;
}

.business-reasons-to-join ul{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.business-reasons-to-join-call-out{
    margin: auto;
    width: 750px;
    height: 200px;
}

.business-reasons-to-join-call-out ul{
    text-decoration: none;
}

.business-reasons-to-join ul li,
.business-reasons-to-join-call-out p{
    font-family: "Alesand";
    font-size: 1.2em;
    list-style: none;
}

.business-reasons-to-join h1,
.business-reasons-to-join-call-out h1{
    font-family: "Alesand";
    font-size: 2.1em;
}

/* egenskaber for h1 title på business partner section */
.partners-title{
    margin-top: auto;
    text-align: center;
    font-family: "Alesand";
    font-size: 3em;
}

.partner-logo-row{
    justify-content: space-evenly;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: white;
}

.partners-logos-container{
    height: 300px;
    width: 50%;
    margin: auto;
}

/* første række af business logoer */
.business-logos-first-row{
    height: 110px;
    width: 110px;
    background-color: transparent;
    border: 0.2em solid transparent;
}

.business-logos-first-row:nth-child(1){
    background: url(../img/netto-logo.jpg) no-repeat center;
    background-size: contain;
    display: flex;
    position: relative;
}

.business-logos-first-row:nth-child(2){
    background: url("../img/Lidl-Logo.svg.png") no-repeat center;
    background-size: contain;
}

.business-logos-first-row:nth-child(3){
    background: url("../img/SuperBrugsen_logo_old.png") no-repeat center;
    background-size: contain;
}

/* anden række af business logoer */
.business-logos-second-row{
    height: 110px;
    width: 110px;
    background-color: transparent;
    border: 0.2em solid transparent;
}

.business-logos-second-row:nth-child(1){
    background: url("../img/coop.png") no-repeat center;
    background-size: contain;
}

.business-logos-second-row:nth-child(2){
    background: url("../img/irma.png") no-repeat center;
    background-size: contain;
}

.business-logos-second-row:nth-child(3){
    background: url("../img/kvickly.png") no-repeat center;
    background-size: contain;
}

.business-logos-second-row:nth-child(4){
    background: url("../img/wefood.png") no-repeat center;
    background-size: contain;
}
/* tredje række af business logoer */
.business-logos-third-row{
    height: 110px;
    width: 110px;
    background-color: transparent;
    border: 0.2em solid transparent;
}

.business-logos-third-row:nth-child(1){
    background: url("../img/jntj.png") no-repeat center;
    background-size: contain;
}

.business-logos-third-row:nth-child(2){
    background: url("../img/emmerys.png") no-repeat center;
    background-size: contain;
}

.business-logos-third-row:nth-child(3){
    background: url("../img/dsg.jpg") no-repeat center;
    background-size: contain;
}

/* business form */
.fill-out-form-for-business{
    display: flex;
    height: 100vh;
    width: 100%;
    background: white;

}

.business-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-fill-out-section-left{
    display: flex;
    height: inherit;
    width: 39%;
    background: white;
    margin-left: auto;
    flex-direction: column;
}

.business-fill-out-section-left h1{
    text-align: center;
    font-family: "Alesand";
    font-size: 2.5em;
    width: 39%;
    margin: auto;
}

.business-fill-out-section-right{
    display: flex;
    height: inherit;
    width: 30%;
    background: white;
    margin-right: auto;
}

.business-fill-out-section-left form{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    background: white;
    margin: 0 auto;
}

.business-form-field{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.business-form-field-input-holder{
    display: flex;
    width: 90%;
    height: 50%;
    background: white;
    border-radius: 20px;
    border-style: hidden;
    flex-direction: column;
    box-shadow: 0em 0em 1em lightgrey;
}
.business-form-field-input-holder input{
    margin: auto;
    width: 90%;
    height: 50%;
    border-style: none;
    border-bottom: 0.19em black solid;
    font-size: 1.1em;
}

.business-form-field input[type=submit]{
    border-style: none;
    width: 10em;
    margin: 0.5em auto auto;
    height: 40%;
    border-radius: 5px;
    font-size: 1.5em;
    background: var(--amazon);
    color: white;
}

.business-form-field label,
.business-form-field-input-holder label{
    visibility: hidden;
    height: 0;
}

.business-call-out{
    font-family: "Nature Breath";
    font-size: 3.5em;
    margin: auto;
    text-align: center;
    color: var(--amazon);
}

.business-call-out h2{
}

.business-call-to-action{
    background: white;
    height: 30vh;
    width: 100%;
    justify-content: center;
    display: flex;
}