/* home side */
/* splash properties */

.splash-image-container{
    width: 100%;
    height: 95vh;
    background: rgba(0,150,0,1);
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: -200;
}

/*
.splash-image{
    position: relative;
    background: url("../img/madspild_splash.jpg");
    width: inherit;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    z-index: -20;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/
.splash-clipping-test{
    position: fixed;
    font-size: 16em;
    text-align: center;
    font-family: "Winthorpe";
    background-image: url(../img/madspild_splash.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 0.9;
    z-index: -100;
    padding-top: -1em;
    top: 15%;
    left: -1%;

}

.whois{
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#tagline-holder{
    display: block;
    height: fit-content;
    width: fit-content;
    position: fixed;
    z-index: -10;
    justify-content: center;
}

.tagline{
    display: flex;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    height: 150px;
    width: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
    z-index: -15;
    align-self: center;
}

.tagline p{
    position: fixed;
    align-self: center;
    font-family: "StencilEF";
    font-size: 10.0em;
    color: white;
    margin: auto;
    z-index: -100;
}


/* whois section */
.whois-intro{
    position: absolute;
    height: 400px;
    width: 65%;
    background: white;
}

.whois-intro h1{
    font-family: "Alesand";
    font-size: 3.5em;
    height: 20%;
    background: yellow;
}

.mug-is-mums-title-font{
    font-family: "Winthorpe";
    color: var(--magic-mint);

}

.whois-intro-text{
    display: flex;
    background: aliceblue;
    font-family: "Alesand";
    font-weight: lighter;
    font-size: 1.5em;
    height: 70%;
    flex-direction: column;
}

.whois-intro-text p:nth-child(2){
    margin-top: 1em;
    margin-bottom: auto;
    background: yellowgreen;
}

.cirkel{
    position: relative;
    display: flex;
    z-index: 5;
    top: 26%;
    left: 18%;
    width: 220px;
    height: 220px;
    background-color: var(--amazon);
    border-radius: 100%;
    transform: rotate(-36deg);

}

.cirkel p{
    text-align: center;
    font-family: "Arkipelago";
    font-size: 4.45em;
    color: white;
    line-height: 0.98;
    margin: auto;
}

/* testing font connection */
#test{
    font-family: "Winthorpe";
    font-size: 15em;
    color: lightgrey;
    position: absolute;

}

.summary-about-mugrmums{
    display: flex;
    background-color: white;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

/* section med facts om madspild */

.facts-and-data-about-food-waste{
    display: flex;
    background: goldenrod;
    height: 650px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts-container{
    display: flex;
    height: 550px;
    width: 70%;
    background: rgba(200,100,50,0.7);
    align-items: center;
    flex-direction: column;

}

.facts-wrapper{
    height: 400px;
    background: floralwhite;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.facts-title{
    margin: auto;
    text-align: center;
}

.facts-title h1{
    font-family: "StencilEF";
    font-size: 3em;

}

.fact-box{
    background: grey;
    width: 250px;
    height: inherit;
    margin: auto;

}

.fact-figure,
.fact-text{
    height: 50%;
    width: 100%;
}

.fact-figure{
    font-family: Alesand;
    text-align: center;
    font-size: 2.7em;
    background: rgba(255,255,255,0.5);
    justify-content: center;
    line-height: 40px;
    display: flex;
}

h1.fact-figure-font{
    margin: auto;
    display: flex;
    color: var(--amazon);

}

.fact-middle-figure-font{
    font-size: 2em;
}

.fact-text{
    background: rgba(255,255,255,0.2);
}

.fact-text-box{
    background: rgba(110,150,10,0.5);
    width: 200px;
    height: 75%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "Alesand";
    font-size: 1.0em;
    text-align: center;
}

.customer-type-section{
    display: flex;
    height: 110vh;
    width: 100%;
    background: rgba(10,100,10,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-options-wrapper{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 75%;
    margin: auto;
}

.customer-options-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Alesand";
    font-size: 1.5em;
    text-align: center;
    height: 150px;
}

.customer-options-description p{
    margin: auto;
}



.customer-type-box{
    height: 300px;
    width: 250px;
    background: rgba(255,255,255,0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 10px lightgrey;

}

.customer-type-box h1{
    font-family: "Alesand";
    margin: auto;
}

.customer-type-options-first-row,
.customer-type-options-second-row{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-type-options-first-row-container{
    height: fit-content;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

}

.customer-type-box{
    height: 300px;
    width: 250px;
    background: rgba(255,255,255,1);
    align-items: center;
    display: flex;
    flex-direction: column;

}

.customer-type-box article{
    height: 150px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    justify-content: center;
    align-items: center;
    display: flex;
}

.customer-button{
    height: 50px;
    width: 200px;
    border-style: none;
    border-radius: 5px;
    background: var(--amazon);
    color: white;
    margin: auto;
    display: flex;
    text-align: center;
    font-family: "Alesand";
    justify-content: center;
    font-size: 1.2em;
}

.customer-type-button-container{
    display: flex;
    justify-content: center;
    height: 100px;
}

/* section for diverse customer types */

.customer-icon-business,
.customer-icon-org,
.customer-icon-citizen{
    height: 150px;
    width: 150px;
    background: rgba(255,255,255,0.1);
}

.customer-icon-business{
    background: url("../img/factory.svg") no-repeat;
    background-size: contain;
}

.customer-icon-org{
    background: url("../img/goverment.svg") no-repeat;
    background-size: contain;

}

.customer-icon-citizen{
    background: url("../img/house.svg") no-repeat;
    background-size: contain;
}