/* home side */
/* splash properties */
.splash{
    background-color: linear-gradient(45deg, var(--magic-mint), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.cirkel{
    position: relative;
    display: flex;
    z-index: 5;
    top: 26%;
    left: 31%;
    width: 200px;
    height: 200px;
    background-color: var(--amazon);
    border-radius: 100%;
}

.cirkel p{
    text-align: center;
    font-family: "Arkipelago";
    font-size: 3.9em;
    color: white;
    line-height: 0.98;
    margin: auto;
}

/* testing font connection */
#test{
    font-family: "Arkipelago";
    font-size: 10em;
    color: lightgrey;
    position: absolute;
    z-index: -3;

}

.summary-about-mugrmums{
    display: flex;
    background-color: white;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.short-summary{
    display: flex;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    height: 150px;
    width: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.short-summary p{
    align-self: center;
    font-family: "Arkipelago";
    font-size: 2.1em;
    font-kerning: revert;
    color: black;
}

.customer-type{
    display: flex;
    background-color: var(--amazon);
    height: 700px;
    width: 100%;
}

.private-customer{
    background-color: rgba(0,250,0,0.5);
    height: 700px;
    width: 50%;
}

.business-customer{
    background-color: rgba(0,200,0,0.5);
    height: 700px;
    width: 50%;
}

.customer-box{
    display: flex;
    justify-content: center;
}

.selection-box{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 350px;
    background-color: rgba(255,255,255,0.1);

}

/* overordnet egenskaber for de to aside elementer på home siden*/
.for-business,
.for-private{
    height: 70%;
    width: 100%;
    background-color: rgba(0,120,100,0.5);
}

.button-form{
    height: 30%;
    width: 100%;
}

.selection-button{
    height: 100%;
    width: inherit;
    background-color: white;
    border-style: none;
    font-family: Arkipelago;
    font-size: 5em;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/* animation af transition når brugerens cursor træder ind i knappens område*/
.selection-button:hover{
    background-color: black;
    color: white;
}
