/* resereveret til forskellige enheds størrelsers under skalering */


/* maximum bredderne for skalering */

@media (max-width:600px){

}

@media (max-width: 700px){


}

@media (max-width: 1000px){

    /* af om menuen bliver skjult under 900px*/
    ul.menu li.page-link{
        display: none;
    }

    .mug-is-mums-title-font{
        width: 75%;
    }


}

@media (max-width: 1200px){

    .business-fill-out-section-right{
        width: 50%;
    }

}

@media (min-width: 2000px){



}

/*maximum bredde for skalering*/

@media (min-width:600px){


}

@media (max-width: 700px){


}

@media (max-width: 900px){


}

@media (max-width: 1200px){


}

@media (max-width: 2000px){



}

