/* css fil til den overordnet styling af siden */

/* import global css variables*/
@import url("global.css");

/*reset default værdier i browseren*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* splash properties */
.splash{
    background-color: linear-gradient(45deg, var(--magic-mint), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

/* testing font connection */
#test{
    font-family: "Arkipelago";
    font-size: 10em;
    color: lightgrey;

}

.summary-about-mugrmums{
    display: flex;
    background-color: white;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.short-summary{
    display: flex;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    height: 150px;
    width: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
}


.short-summary p{
    align-self: center;
    font-family: "Arkipelago";
    font-size: 2.1em;
    font-kerning: revert;
    color: black;
}

.client-type{
    display: flex;
    background-color: var(--amazon);
    height: 700px;
    width: 100%;
}

.private-customer{
    background-color: rgba(0,250,0,0.5);
    height: 700px;
    width: 50%;
}

.business-customer{
    background-color: rgba(0,200,0,0.5);
    height: 700px;
    width: 50%;
}
/* header elementets properties */
header{
    background-color: rgba(var(--amazon),0.5);
    width: 100%;
    height: 50px;

}

/* footer elementets properties */
footer{
    background-color: var(--magic-mint);
    width: 100%;
    height: 400px;
}