<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle ='private')">
    <title th:include="${pageTitle}">MUG'R'MUMS</title>
</head>
<header th:replace="fragments/header :: header"></header>
<body>
<section class="splash-private">
<h1 id="test">Mug er mums</h1>
</section>

<!-- sektion til at "downloade" vores app -->
<section class="app">
    <div class="app-container">
        <h1>Hent appen og kom ind i kampen!</h1>
        <a class="app-pic" href="https://play.google.com/store/apps/details?id=package.one" target="_blank"> </a>
    </div>
</section>


<!-- information der vedrøre private kunder -->
<section class="info-for-private-customer">
    <h1 class ="private-title">Everyone can make a difference</h1>
</section>

<!-- sektion til andre hjemmesider mm.-->
<section class="usefull-links">
    <div class="link-row">
        <a class="uf-link" href="https://toogoodtogo.dk/da" target="_blank">ToGoodToGo</a>
        <a class="uf-link" href="https://skagenfood.dk/da-dk/ekstravarer/frugt-groent/kassen-mod-madspild?gclsrc=aw.ds&gclid=Cj0KCQiA-aGCBhCwARIsAHDl5x9tsUBRfz-EenJ-GECi7KFVwOZQkAJfmxkqH6F3_kXYMmozfEg99ysaArc6EALw_wcB" target="_blank">Madspildskassen</a>
        <a class="uf-link" href="https://www.stopspildafmad.dk/" target="_blank">StopSpildAfMad</a>
    </div>
    <div class="link-row">
        <a class="uf-link" href="https://taenk.dk/test-og-forbrugerliv/mad-og-indkoeb/madspild" target="_blank">Forbrugerrådet</a>
          <a class="uf-link" href="https://mst.dk/affald-jord/affald/saerligt-for-borgere-om-affald/madspild/" target="_blank">TipsNTricks</a>
        <a class="uf-link" href="https://danmarkmodmadspild.dk/" target="_blank">DanmarkModMadspild</a>
    </div>
</section>


<!-- udfyldningsformula til private kunder -->
<section class="fill-out-form-for-private">
    <form class="signup-form" action="">
    <div class="signup-container">
        <p>Meld dig til vores nyhedsbrev</p>

        <label for="full-name"><b>Name</b></label>
        <input type="text" placeholder="Enter your full name" id="full-name" required>

        <label for="Email"><b>Email</b></label>
        <input type="Email" placeholder="Enter Email" id="email" required>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter your address" id="address" required>

        <button type="submit" class="registerbtn">Register</button>
    </div>
    </form>


</section>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>