<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle ='business')">
    <title th:include="${pageTitle}">MUG'R'MUMS</title>
</head>
<header th:replace="fragments/header :: header"></header>
<body>
<!-- sektion for overblik over diverse fiktive partnere og deres logoer -->
<section class="business-partners">
    <h1 class="partners-title">our partners</h1>
    <div class="partners-logos-container">
        <div class="partner-logo-row"></div>
        <div class="partner-logo-row"></div>
        <div class="partner-logo-row"></div>
    </div>
</section>

<!-- sektion med relevant informaiton for business kunder -->
<section class="info-for-business-customer">

</section>

<!-- sektion med udfyldningsformula for business kunder -->
<section class="fill-out-form-for-business">

</section>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>