<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle ='business')">
    <title th:include="${pageTitle}">MUG'R'MUMS</title>
</head>
<header th:replace="fragments/header :: header"></header>
<body>
<!-- sektion med udfyldningsformula for business kunder -->
<section class="fill-out-form-for-business">
    <!-- <label for="Company-name">Company-name:</label>
     <input type="text" name="Company-name" id="Company-name">
     <br>
     <label for="Address">Address</label>
     <input type="text" name="Address" id="Address">
     <br>
     <label for="CVR">CVR:</label>
     <input type="number" name="CVR" id="CVR" >
     <br>
     <label for="email">email</label>
     <input type="text" name ="email" id="email">-->

    <aside class="business-fill-out-section-left">
        <h1>Interested? Sign up!</h1>
        <aside class="business-form-wrapper">
            <form>
                <div class="business-form-field">
                    <div class="business-form-field-input-holder">
                        <label>virksomhedsnavn</label>
                        <input for="virksomhedsnavn"
                               type="text"
                               name="virksomhedsnavn"
                               placeholder="indtast dit virksomhedsnavn">
                    </div>
                </div>
                <div class="business-form-field">
                    <div class="business-form-field-input-holder">
                        <label>telefon</label>
                        <input for="telefon"
                               type="number"
                               name="virksomhedstelefon"
                               placeholder="Indtast jeres telefon nummer">
                    </div>
                </div>
                <div class="business-form-field">
                    <div class="business-form-field-input-holder">
                        <label>email</label>
                        <input for="email"
                               type="email"
                               name="virksomhedsemail"
                               placeholder="Indtast email addresse">
                    </div>
                </div>
                <div class="business-form-field">
                    <label>submitknap</label>
                    <input for="submitknap" type="submit">
                </div>
            </form>
        </aside>
    </aside>
    <aside class="business-fill-out-section-right">
        <div class="business-call-out">
            <h2>MELD DIN VIRKSOMHED IND I KAMPEN!</h2>
        </div>
    </aside>

</section>
<section class="borger-info">
    <article class="borger-info-text">
        <h1>MUG ER MUMS TIL Virksomheden</h1>
        <p>Etiam et mi id lorem tincidunt porttitor. In interdum sodales magna id sollicitudin. Nunc eget tortor nec quam viverra feugiat. Cras fringilla lacus nec lectus maximus, eu luctus risus finibus. Nunc malesuada, nibh ac congue eleifend, mauris sapien faucibus sem, eget pretium lectus orci eget massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque quis venenatis nulla.
        </p>
        <p>Etiam et mi id lorem tincidunt porttitor. In interdum sodales magna id sollicitudin. Nunc eget tortor nec quam viverra feugiat. Cras fringilla lacus nec lectus maximus, eu luctus risus finibus. Nunc malesuada, nibh ac congue eleifend, mauris sapien faucibus sem, eget pretium lectus orci eget massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque quis venenatis nulla.
        </p>
    </article>
</section>


<!-- sektion med relevant informaiton for business kunder -->
<section class="info-for-business-customer">
    <article class="business-reasons-to-join">
        <h1>5 Gode grunde til at joine mug er mums</h1>
        <ul>
            <li>Mug er Mums samarbejder allerede med hundredevis af danske supermarkeder!</li>
            <li>Research viser at 99% af unge danskere mellem 13 og 24 udelukkende handler i supermarkeder der er medlem af Mug er Mums!</li>
            <li>Mum er Mums redder hvert år mindst 10 forskellige truede dyrearter!</li>
            <li>Mug er Mums samler borger og concern om et fælles mål!</li>
            <li>100% af udspurgte supermarkeder er meget tilfredse med at samarbejde med Mug er Mums!</li>

        </ul>
    </article>
</section>

<!-- testimonies/qoutes fra diverse virksomheder section -->
<section>

</section>

<!-- sektion for overblik over diverse fiktive partnere og deres logoer -->
<section class="business-partners">
    <h1 class="partners-title">NOGLE AF VORES partners</h1>
    <div class="partners-logos-container">
        <div class="partner-logo-row">
            <!-- testing space for logo images -->
            <div class="logo-test-space business-logos-first-row"></div>
            <div class="logo-test-space business-logos-first-row"></div>
            <div class="logo-test-space business-logos-first-row"></div>
        </div>
        <div class="partner-logo-row">
            <!-- testing space for logo images -->
            <div class="logo-test-space business-logos-second-row"></div>
            <div class="logo-test-space business-logos-second-row"></div>
            <div class="logo-test-space business-logos-second-row"></div>
            <div class="logo-test-space business-logos-second-row"></div>
        </div>
        <div class="partner-logo-row">
            <!-- testing space for logo images -->
            <div class="logo-test-space business-logos-third-row"></div>
            <div class="logo-test-space business-logos-third-row"></div>
            <div class="logo-test-space business-logos-third-row"></div>
        </div>
    </div>
</section>
<section class="business-call-to-action">
    <article class="business-reasons-to-join-call-out">
        <h1>Så hvad venter du på? Tilmeld dig Mug er Mums idag, og nyd godt af vores samarbejde fra imorgen!</h1>
        <p>Sådan tilmelder du dig mums er mug!</p>
        <p>bare udfyld informationerne ovenfor for at tilmelde din virksomhed mums er mug, ligesom hundredevis af andre danske supermarkeder</p>
    </article>
</section>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>