<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle ='business')">
    <title th:include="${pageTitle}">MUG'R'MUMS</title>
</head>
<header th:replace="fragments/header :: header"></header>
<body>
<!-- sektion for overblik over diverse fiktive partnere og deres logoer -->
<section class="business-partners">
    <h1 class="partners-title">Some of our partners</h1>
    <div class="partners-logos-container">
        <div class="partner-logo-row">
            <!-- testing space for logo images -->
            <div class="logo-test-space business-logos-first-row"></div>
            <div class="logo-test-space business-logos-first-row"></div>
            <div class="logo-test-space business-logos-first-row"></div>
        </div>
        <div class="partner-logo-row">
            <!-- testing space for logo images -->
            <div class="logo-test-space business-logos-second-row"></div>
            <div class="logo-test-space business-logos-second-row"></div>
            <div class="logo-test-space business-logos-second-row"></div>
            <div class="logo-test-space business-logos-second-row"></div>
        </div>
        <div class="partner-logo-row">
            <!-- testing space for logo images -->
            <div class="logo-test-space business-logos-third-row"></div>
            <div class="logo-test-space business-logos-third-row"></div>
            <div class="logo-test-space business-logos-third-row"></div>
        </div>
    </div>
</section>

<!-- sektion med relevant informaiton for business kunder -->
<section class="info-for-business-customer">

</section>

<!-- sektion med udfyldningsformula for business kunder -->
<section class="fill-out-form-for-business">

    <aside class="business-fill-out-section-left">
        <h1>Interested? Sign up!</h1>
        <aside class="business-form-wrapper">
            <form>
                <div class="business-form-field">
                    <div class="business-form-field-input-holder">
                    <label>virksomhedsnavn</label>
                <input for="virksomhedsnavn"
                       type="text"
                       name="virksomhedsnavn"
                       placeholder="indtast dit virksomhedsnavn">
                    </div>
                </div>
                <div class="business-form-field">
                    <div class="business-form-field-input-holder">
                    <label>telefon</label>
                <input for="telefon"
                       type="number"
                       name="virksomhedstelefon"
                       placeholder="Indtast jeres telefon nummer">
                    </div>
                </div>
                <div class="business-form-field">
                    <div class="business-form-field-input-holder">
                    <label>email</label>
                <input for="email"
                       type="email"
                       name="virksomhedsemail"
                       placeholder="Indtast email addresse">
                    </div>
                </div>
                <div class="business-form-field">
                    <label>submitknap</label>
                <input for="submitknap" type="submit">
                </div>
            </form>
        </aside>
    </aside>
    <aside class="business-fill-out-section-right">
        <div class="business-call-out">
            <h2>MEDL DIN VIRKSOMHED IND I KAMPEN!</h2>
        </div>
    </aside>

</section>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>