<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle ='home')">
    <title th:include="${pageTitle}">MUG'R'MUMS</title>
</head>
<header th:replace="fragments/header :: header"></header>
<body>
<section class="splash">
<h1 id="test">Hey there</h1>
</section>
<section class="summary-about-mugrmums">
    <div class="short-summary">
        <p>
            We believe that food should not go to waste
        </p>
    </div>
</section>
<section class="client-type">

    <div class="business-customer"></div>
    <div class="private-customer"></div>

</section>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>