<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle ='home')">
    <title th:include="${pageTitle}">MUG'R'MUMS</title>
</head>
<header th:replace="fragments/header :: header"></header>
<body>

<!-- indledende billede baggrund og section på home siden -->
<section th:replace="fragments/home/splash.html :: splash">

</section>

<section class="whois">
<!-- <h1 id="test">Mug er mums</h1> -->
    <div class="cirkel"><p>100% mums!</p></div>
    <div class="whois-intro">
        <h1>WHO IS <span class="mug-is-mums-title-font">MUG IS MUMS<span>?</h1>
        <article class="whois-intro-text">
            <p>Mug is mums is a fresh new start up with a focus on minimizing food waste. Every year tons of good food goes to waste or spoils.
            This is an enormous drain of our nature's precious resources and we are determined to stop it.
            Good food should not be taken for granted.</p>
            <p>We believe good food is a treasure.<br> Good food is delicious. <br> Good food is mums.</p>
        </article>
    </div>
</section>

<!-- kort om Mug r Mums og hvad de står for -->
<section class="facts-and-data-about-food-waste">
    <div class="facts-container">
        <div class="facts-title"><h1>Did you know...?</h1></div>
        <div class="facts-wrapper">
            <div class="fact-box">
                <div class="fact-figure"><h1 class="fact-figure-font">227.000 tons</h1></div>
                <div class="fact-text">
                    <div class="fact-text-box">
                        Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.
                    </div>
                </div>
            </div>
            <div class="fact-box">
                <div class="fact-figure"><h1 class="fact-figure-font fact-middle-figure-font"> 72 %</h1></div>
                <div class="fact-text">
                    <div class="fact-text-box">
                        Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.
                    </div>
                </div>
            </div>
            <div class="fact-box">
                <div class="fact-figure"><h1 class="fact-figure-font">151.000 tons pr. year</h1></div>
                <div class="fact-text">
                    <div class="fact-text-box">
                        Foretninger som slagtere, fiskeforretninger og grønthandlere står for 12.000 tons pr. år, mens kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="placeholder-box">

    <!-- hente de facts der står på Marianne's slides -->

</section>

<!-- sektion for viderestilling til business og customer undersiderne -->
<section th:replace="fragments/home/customer-type.html :: customer-type">

</section>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>