<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(pageTitle ='home')">
    <title th:include="${pageTitle}">MUG'R'MUMS</title>
</head>
<header th:replace="fragments/header :: header"></header>
<body>

<!-- indledende billede baggrund og section på home siden -->
<section class="splash">
<h1 id="test">Mug er mums</h1>
    <div class="cirkel"><p>100% mums</p></div>
</section>

<!-- kort om Mug r Mums og hvad de står for -->
<section class="summary-about-mugrmums">
    <div class="short-summary">
        <p>
            We believe that food should not go to waste
        </p>
    </div>
</section>
<section class="facts-and-data-about-food-waste">

</section>

<!-- sektion for viderestilling til business og customer undersiderne -->
<section class="customer-type">

    <aside class="business-customer customer-box">
        <div class="selection-box">
            <article class="for-business"></article>
            <form class="button-form" action="/for-business">
                <input class="selection-button" type="submit" value="business">
            </form>
        </div>
    </aside>
    <aside class="private-customer customer-box">
        <div class="selection-box">
            <article class="for-private"></article>
            <form class="button-form" action="/private">
                <input class="selection-button" type="submit" value="private">
            </form>
        </div>
    </aside>

</section>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>