<section th:fragment="customer-type" class="customer-type-section">

    <div class="customer-options-wrapper">
        <div class="customer-type-description">
        </div>
        <div class="customer-type-options-first-row">
            <aside class="customer-type-box">
                <h1>Borger</h1>
                <article>
                    <!-- ikoner er midlertidige -->
                    <div class="customer-icon-citizen"></div>
                </article>
                <div class="customer-type-button-container">
                     <button class="customer-button" th:href="@{/borger}">
                         <p>SE MERE</p>
                     </button>
                </div>
            </aside>
        </div>
        <div class="customer-type-options-second-row">
            <div class="customer-type-options-first-row-container">
                <aside class="customer-type-box">
                    <h1>Business</h1>
                    <article>
                        <!-- ikoner er midlertidige -->
                        <div class="customer-icon-business"></div>
                    </article>
                    <div class="customer-type-button-container">
                        <button class="customer-button" th:href="@{/for-business}">
                            <p>SE MERE</p>
                        </button>
                    </div>
                </aside>
                <aside class="customer-type-box">
                    <h1>Ogranisation</h1>
                    <article>
                        <!-- ikoner er midlertidige -->
                        <div class="customer-icon-org"></div>
                    </article>
                    <div class="customer-type-button-container">
                        <button class="customer-button" th:href="@{/borger}">
                            <p>SE MERE</p>
                        </button>
                    </div>
                </aside>
            </div>
        </div>
        <div class="customer-options-description">
            <p>Vi tilbyder service muligheder for alle slags kunder.
            Er du en almen borger eller en forretning, såvel en organisation, så har vi en løsning.</p>
        </div>
    </div>
</section>