<section th:fragment="splash" class="splash-image-container">
        <strong><h1 class="splash-clipping-test">STOP MADSPILD</h1></strong>

        <!--
        <div class="splash-image">
            <div class="splash-layer-text">
                STOP MADSPILD
            </div>
            <div class="splash-layer-image">
                <div class="tagline">
                    <p>
                        placeholder/midlertidig tekst
                        STOP FOOD WASTE
                    </p>
                </div>-->
        <!--</div>
        <div class="splash-text">
            <p>STOP MADSPILD</p>

        </div>
    </div>
    -->

</section>