<!-- whois section på home.html -->

<section th:fragment="whois" class="whois">
    <!-- <h1 id="test">Mug er mums</h1> -->
    <div class="cirkel"><p>100% mums!</p></div>
    <div class="whois-intro">
        <h1>WHO IS <span class="mug-is-mums-title-font">MUG IS MUMS<span>?</h1>
        <article class="whois-intro-text">
            <p>Mug is mums is a fresh new start up with a focus on minimizing food waste. Every year tons of good food goes to waste or spoils.
                This is an enormous drain of our nature's precious resources and we are determined to stop it.
                Good food should not be taken for granted.</p>
            <p>We believe good food is a treasure.<br> Good food is delicious. <br> Good food is mums.</p>
        </article>
    </div>
</section>